body {
    font-family: 'Concert One', cursive;
    background-color: #A0D8E9;
    color: #011b24;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    font-size: 24px;
}

h1 {
    text-align: center;
}

.scoreboard,
.rpsBtns {
    margin-bottom: 15px;
}

.resultMsg {
    min-height: 63px;
    margin-bottom: 3px;
}

.rpsBtns {
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid #246377;
    font-family: 'Concert One', cursive;
    color: #011b24;
    font-size: 24px;
    border-radius: 2px;
    min-height: 36px;
    margin-top: 1px;
}

.newGame {
    background-color: #E5E28B;
    flex-wrap: wrap;
    margin-top: 0%;
}

.rock,
.paper,
.scissors {
    width: 115px;
}

.rock {
    background-color: #F3A5BC
}

.paper {
    background-color: #B4A7EB;
}

.scissors {
    background-color: #A7DB8C;
}