body {
    font-family: 'Concert One', cursive;
    background-color: #A0D8E9;
    color: #011b24;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

div {
    font-size: 24px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.scoreboard,
.rpsBtns,
.resultMsg {
    gap: 3%;
    padding-bottom: 3%;
}

.scoreboard {
    flex-direction: column;
}

.rpsBtns {
    justify-content: center;
}

.btn {
    border: 2px solid #246377;
    font-family: 'Concert One', cursive;
    color: #011b24;
    font-size: 24px;
    border-radius: 2px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

span {
    margin-top: auto;
    margin-bottom: auto;
}

.newGame {
    background-color: #E5E28B;
}

.rock {
    background-color: #F3A5BC
}

.paper {
    background-color: #B4A7EB;
}

.scissors {
    background-color: #A7DB8C;
}